
.background-image img {
  width: 100%;
  height: auto;
}
.contact div{
    background-color: #FFF;
    padding: 10px;
    border: 1px solid #282626;
    margin: auto;
}
.opening-hours div{
    margin: 26px 45px 13px 521px;
    border: 1px;
    background-color: rgb(175, 180, 180);
}
.google-map {
  width: 100%;
  margin-top: 20px;
}
  