.contact.contact-background-image {
  background-image: url('../images/table\ of\ contact.jpeg');
}
.contact {
  display: flex;
}
.contact .contact-item {
  margin: 20px;
  display: flex;
}
.contact .contact-item-left,
.contact .contact-item-right {
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}

.contact .contact-item-left {
  flex-grow: 1;
}

.contact-google-map {
  width: 80%;
  margin-top: 10px 0  ;
}
.contact .contact-item-right-down{

  margin-top: 10px ;
}
.contact .contact-item-right-down img{
height: 45px;
margin-top: 10px ;
}